* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/fondowood.jpg);
}

h1 {
  text-align: center;
}

h1 {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h3 {
  text-align: center;
  margin: 50px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  height: 15rem;
  padding: 30px;
}

.grid-container {
  width: 80%;
  margin: auto;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 100px auto 100px;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

@media screen and (max-width: 1200px) {
  .grid-container {
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px auto 100px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  }
  .publicidad {
    flex-direction: row;
  }
}
.publicidad {
  flex-direction: column;
}

@media screen and (max-width: 580px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px auto 450px 100px;
    grid-template-areas: "header" "nav" "main" "aside" "footer";
  }
}
#carouselExampleIndicators {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#grilla-body {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "productos productos productos" "banner banner banner" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

#header-flex {
  grid-area: cabecera;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(/img/fondowood);
}

@media screen and (max-width: 767px) {
  #header-flex {
    flex-direction: column;
  }
}
#header-flex img {
  width: 200px;
  height: 200px;
  padding-right: 12%;
  margin-top: 10px;
}

#productos-nuevo {
  grid-area: productos;
}

#productos-nuevo h2 {
  text-align: center;
}

#productos-nuevo p {
  text-align: center;
}

.padre-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  justify-items: center;
  margin: 100px;
}

@media screen and (max-width: 992px) {
  .padre-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .padre-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card-hijo {
  width: 250px;
  border: solid 2px rgb(26, 3, 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: navajowhite;
}

.card-hijo img {
  height: 250px;
}

#banner-abuelo {
  grid-area: banner;
  background-color: rgb(207, 196, 181);
  margin-top: 4rem;
  padding: 2rem;
}

#banner-abuelo h2 {
  text-align: center;
}

/*.padre-banners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 50px;
}

@media screen and (max-width: 992px) {
    .padre-banners {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .padre-banners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}*/
.banners-caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapa p {
  color: antiquewhite;
  font-size: medium;
}

#mapa {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  height: 700px;
  background-color: rgb(44, 44, 44);
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.lista-direccion {
  text-align: center;
}

.tamano {
  width: 700px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 90px;
}

#form div {
  background-color: rgba(33, 87, 131, 0.945);
}

#fuente {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
}

.piso {
  background-color: #78939a;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.piso div img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
