
#mapa p {
    color: antiquewhite;
    font-size: medium;
}

#mapa {
    @include flex-centrado;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    height: 400px;
    width: 450px;
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}


.lista-direccion {
    text-align: center;

}


.tamano {
    width: 400px;
    height: 400px;
}